@import "src/scss/global";

:local(.modal) {
  :global {
    .ant-modal-title {
      > .anticon {
        margin-right: 0.5em;
      }

      > small {
        margin-left: 0.5em;
        font-weight: 400;
        color: $gray;
      }
    }

    .ant-form-item {
      margin-bottom: 0;
    }

    .ant-calendar-picker {
      width: 100%;
    }
  }
}
