@import "src/scss/global";

$main-width:                                 368px;

:local .main {
  margin: 0 auto;
  width: $main-width;

  :global(.ant-input-lg) {
    top: 0;
  }

  .prefix-icon {
    color: $gray-lighten;
  }

  .submit {
    width: 100%;
  }
}
