@import "src/scss/global";

:local(.container) {
  &:global(.margin-bottom) {
    margin-bottom: $padding-lg-horizontal;
  }

  :global {

    .ant-card-head {
      border-bottom: none;
    }

    .ant-card-body {
      padding: $padding-lg-horizontal * 1.25;
    }
  }
}
