:local(.container):global(.margin-bottom) {
  margin-bottom: 16px; }

:local(.container) :global .ant-card-head {
  border-bottom: none; }

:local(.container) :global .ant-card-body {
  padding: 20px; }
