@import "src/scss/global";

:local(.desc) {
  .title {
    margin-bottom: $padding-lg-horizontal;
    font-size: $font-size-medium;
    font-weight: 500;
    color: $gray-darkest;
  }

  .label,
  .detail {
    display: table-cell;
    padding-bottom: $padding-lg-horizontal / 2;
    line-height: $font-size-base * 1.75;
  }

  .label {
    white-space: nowrap;
    color: $gray;

    &:after {
      content: ':';
      margin: 0 ($padding-lg-horizontal / 2) 0 2px;
    }
  }

  .detail {
    width: 100%;
  }
}
