@import "src/scss/global";

$avatar-popover-width:                  200px;
$avatar-popover-height:                 $padding-lg-horizontal * 1.25;

:local(.avatar-popover) {
  left: auto !important;
  right: $padding-base-horizontal;

  :global(.ant-popover-content) {
    // padding-top: 0;

    > :global(.ant-popover-arrow) {
      display: none;
    }

    :global(.ant-popover-inner) {
      border-radius: 2px;
      box-shadow: 0 6px 16px rgba($black, 0.2);

      &-content {
        padding: 0;

        ul {
          list-style: none;
          padding: $padding-base-vertical 0;
          width: $avatar-popover-width;

          li {
            line-height: $avatar-popover-height;

            a {
              display: block;
              padding: $padding-lg-vertical $padding-lg-horizontal;
              font-size: $font-size-base;
              color: $gray-darkest;
              @include enable-transition();

              &:hover {
                background-color: $gray-lightest;
              }

              &:focus {
                text-decoration: none;
              }

              > :global(.anticon) {
                margin-right: 0.5em;
              }

              &:global(.disabled) {
                color: $gray-lighten;
                cursor: not-allowed;

                &:hover {
                  background-color: transparent;
                }
              }
            }

            &:global(.divider) {
              margin: 0;
              padding: 0;
              border-top: 1px solid #eee;
              height: 0;
            }
          }
        }
      }
    }
  }
}
