@import "src/scss/global";

$header-height:                              48px;

:local .container {
  position: relative;
  padding: 110px 0 144px 0;
  @include size(100%);
  background: $my-bg-color url($my-bg-image) 50%/100% no-repeat;
}

:local .header {
  text-align: center;

  .title {
    height: $header-height;
    line-height: $header-height;

    img {
      margin-right: $padding-lg-horizontal;
      height: $header-height;
      vertical-align: middle;
    }

    h1 {
      display: inline;
      vertical-align: middle;
    }
  }

  .desc {
    @include margin-y($padding-lg-horizontal / 2, $padding-lg-horizontal);
    line-height: 1.75;
    color: $gray;
  }
}

:local .global-footer {
  position: absolute;
  bottom: 0;
  margin: 48px 0 24px 0;
  padding: 0 $padding-lg-horizontal;
  width: 100%;
  text-align: center;
}
