//
//  Variables
//  --------------------------------------------------

@import "utils/variables/color";
@import "utils/variables/device";
@import "utils/variables/screen";
@import "utils/variables/transition";
@import "utils/variables/typography";
@import "utils/variables/component-colors";

$folder-images:                              '../../public/images';


$header-height:                              64px;
$header-box-shadow:                          0 1px 4px rgba(0, 21, 41, 0.08);
$header-item-hover-bg-color:                 #e6f7ff;
