:local .layout {
  width: 100%;
  height: 100%; }

:local .sider {
  z-index: 512;
  width: 256px;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35); }

:local .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  line-height: 64px;
  background-color: #002140; }
  :local .logo img {
    display: inline-block;
    vertical-align: middle;
    height: 32px; }
  :local .logo h1 {
    display: inline-block;
    margin: 0;
    margin-left: 12px;
    vertical-align: middle;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px; }

:local(.main) {
  position: relative; }

:local .header {
  position: relative;
  padding: 0 12px 0 0;
  height: 64px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08); }
  :local .header:after {
    content: '';
    display: table;
    clear: both; }
  :local .header .trigger {
    padding: 0 24px;
    font-size: 20px;
    line-height: 64px; }
  :local .header .right {
    float: right;
    height: 100%; }
    :local .header .right:after {
      content: '';
      display: table;
      clear: both; }

:local .trigger,
:local .action {
  cursor: pointer;
  transition: all 0.2s ease-out; }
  :local .trigger:hover, :local .trigger:global(.active),
  :local .action:hover,
  :local .action:global(.active) {
    background-color: #e6f7ff; }

:local .action {
  float: left;
  display: flex;
  padding: 0 12px;
  justify-content: center;
  align-items: center; }
  :local .action :global(.ant-avatar) {
    margin-right: 0.25em; }
  :local .action a {
    text-decoration: none;
    font-size: 16px;
    color: #666; }
    :local .action a :global .anticon {
      margin-right: 0.5em; }

:local .avatar-action > span {
  display: flex;
  justify-content: center;
  align-items: center; }

:local(.content) {
  margin: 16px; }
