@import "src/scss/global";

$sider-width:                           256px;
$sider-box-shadow:                      2px 0 6px rgba(#001529, 0.35);

$logo-bg-color:                         #002140;
$logo-height:                           32px;

:local .layout {
  @include size(100%);
}

:local .sider {
  width: $sider-width;
  box-shadow: $sider-box-shadow;
}

:local .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $header-height;
  line-height: $header-height;
  background-color: $logo-bg-color;

  img {
    display: inline-block;
    vertical-align: middle;
    height: $logo-height;
  }

  h1 {
    display: inline-block;
    margin: 0;
    margin-left: 12px;
    vertical-align: middle;
    font-weight: 600;
    color: $white;
    font-size: $font-size-h4;
  }
}

:local .header {
  position: relative;
  padding: 0 $padding-base-horizontal 0 0;
  height: $header-height;
  background-color: $white;
  box-shadow: $header-box-shadow;
  @include clearfix();

  .trigger {
    padding: 0 $padding-base-horizontal * 2;
    font-size: floor($font-size-h3 * 0.85);
    line-height: $header-height;
  }

  .right {
    float: right;
    height: 100%;
    @include clearfix();
  }
}

:local .trigger,
:local .action {
  cursor: pointer;
  @include enable-transition();

  &:hover,
  &:global(.active) {
    background-color: $header-item-hover-bg-color;
  }
}

:local .action {
  float: left;
  display: flex;
  padding: 0 $padding-base-horizontal;
  justify-content: center;
  align-items: center;

  :global(.ant-avatar) {
    margin-right: 0.25em;
  }

  a {
    text-decoration: none;
    color: $gray-darken;
  }
}
